<?xml version="1.0" encoding="UTF-8" ?>
<suite name="activityTest" parallel="false">
    <test name="投票管理">
        <classes>
            <class name="vote.AddVoteTest"></class>
            <class name="vote.VoteManage"></class>
        </classes>
    </test>
    <test name="报名管理">
        <classes>
            <class name="entry.AddEntryTest"></class>
            <class name="entry.EntryManageTest"></class>
        </classes>
    </test>
    <test name="问卷调查管理">
        <classes>
            <class name="survey.AddSurveyTest"></class>
            <class name="survey.SurveyManageTest"></class>
        </classes>
    </test>
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
</suite>